#q{
	border:2px black solid;
	background: red;
	height: 400px;
	width: 50%;
	 position: absolute; 
	 top:150px; 
	 left: 380px;
}
p{
	font-size: 5em;
	 margin-top: -5px;
}
 @media(max-width:768px){
 	#q{
 			height: 300px;
	width: 60%;
 		position: relative;
 		left: 80px;
 	}
 	p{
 		font-size: 2em;
 		margin-top: 35px;
 	}
 	

 }